    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:visited {
        color: darkred;
    }
    
    a:hover {
        text-decoration: underline;
        color: black;
    }
    
    a:active {
        /*quando é clicado */
        color: yellowgreen;
    }
    
    .especial::before {
        content: '☛';
    }
    
    a::after {
        content: '[link]';
        text-align: none;
        font-weight: normal;
        color: grey;
    }